<div class="d-flex justify-content-center">
  <div class="spinner-grow" role="status" *ngIf="isLoading">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4" *ngFor="let item of data">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text truncate_text">
          {{ item.instructions }}
        </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Difficulty: </strong> {{ item.difficulty }}
          </li>
          <li class="list-group-item">
            <strong>Equipment: </strong> {{ item.equipment }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>